{% extends 'base.html.twig' %}

{% block title %}Top Mousse - Edition de votre profil{% endblock %}

{% block body %}
<div class="mainContent">
    <div class="container">
        <div class="contentPage">
            <h1>
                Edition de votre profil
            </h1>
            {% for flash in app.flashes('response') %}
                <p class="reponse">{{ flash }}</p>
            {% endfor %}
            {{ form_start(form) }}
                <p>
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                </p>
                <p>
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                </p>
                <p>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </p>
                <p>
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </p>
                <p>
                    {{ form_label(form.postalCode) }}
                    {{ form_widget(form.postalCode) }}
                </p>
                <p>
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </p>
                <p>
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country) }}
                </p>
                <p>
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                </p>
                <div style="display:flex;justify-content:center;">
                    <button class="button">Enregistrer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
