{% extends 'admin/base.html.twig' %}

{% block title %}Avertir les clients Mondial Relay à partir d'un fichier CSV{% endblock %}

{% block body %}
    <div class="header header-push">
        <h2>Importer un fichier CSV</h2>
    </div>
    <div class="content">
        {% for flash in app.flashes('response') %}
            <p class="reponse">{{ flash }}</p>
        {% endfor %}
        {{ form_start(form) }}
        <p>
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
        </p>
        <button type="submit">Importer</button>
        {{ form_end(form) }}
    </div>
    {% if emails is not null %}
        {% for email in emails %}
            <p>Email du client {{ email.email }}</p>
            <p>Num de facture {{ email.num }}</p>
        {% endfor %}
        <form method="post" action="{{ path('admin_upload_monidal_relay_csv', {uniqueEmails: uniqueEmails, valid : true}) }}">
            <button type="submit" class="button" style="width: 50%;display: inline-block;">Valider et envoyer les emails</button>
        </form>
    {% endif %}
{% endblock %}