{% extends 'admin/base.html.twig' %}

{% block title %}Rechercher un point Mondial Relai{% endblock %}

{% block body %}
    <div class="header header-push">
        <h2>Rechercher un point Mondial Relai</h2>
    </div>
    <div class="content">
        {{ form_start(form) }}
            <p>
                {{ form_label(form.volume) }}
                {{ form_widget(form.volume) }}
            </p>
            <p>
                {{ form_label(form.postalCode) }}
                {{ form_widget(form.postalCode) }}
            </p>
            <button type="submit" class="button">Rechercher</button>
        {{ form_end(form) }}
        <input type="hidden" name="volume" id="volume" value="{{ volume }}"/>
        <input type="hidden" name="postalCode" id="postalCode" value="{{ postal_code }}"/>
        <div id="relaiWidget"></div>
        <div style="padding:8px; overflow:auto;">
            <div style="background:#edffb2; border:solid 1px #a5f913; padding:5px;font-size:10px;">
                <em>Affichage au clic sur le widget Mondial relay</em>
                <br/><br/>
                <div style="display:inline-block;border:solid 2px #a5f913;padding:5px;font-size:20px;" >
                    <span style="text-decoration:underline;">Vous avez sélectionné : </span><br/>
                    Identifiant :
                    <span id="relaiWidgetId"></span><br/>
                    <span id="relaiWidgetName"></span><br/>
                    <span id="relaiWidgetAddress"></span><br/>
                    <span id="relaiWidgetPostalCode"></span>
                    <span id="relaiWidgetCity"></span><br/>
                    <span id="relaiWidgetCountry"></span><br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}